# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
# 默认值为随机生成，生产环境部署前请务必替换
DB_PASSWORD=vWzL2WyHCu8Y9x75ai3uQrBU68zp6F8k
DB_NAME=jobtracker

# PostgreSQL 容器口令，和 DB_PASSWORD 保持一致即可
POSTGRES_PASSWORD=vWzL2WyHCu8Y9x75ai3uQrBU68zp6F8k

# Redis
REDIS_ADDR=redis:6379

# JWT Secret
JWT_SECRET=6dqsMrDndjABEv4V9eHTYrkNrCq3j9zKbCsfQXbuGU4w46Wj

# Server
SERVER_PORT=8080

# Grafana
GRAFANA_PASSWORD=UrFt3ctHWstLjyBtUcEAss8A
